body {
    background-color: midnightblue;
    height: 100%;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid green;
    border-radius: 3px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 70px;
    text-decoration: none;
    color: aliceblue;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {

    margin: 30px;
    
}

label {

    font-size: 30px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {

    height: 20px;
    width: 20px;

}